* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

.body {
    font-family: 'montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;

}

.container {
    max-width: 1320px;
    min-width: 315px;
    margin: 0 auto;
    padding: 0 30px;

    &--wide {
        width: 100%;
        padding: 0;
        
    }

    &--flex-column{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.img-responsive {
    height: 100%;
    object-fit: contain;

}

.wrapper {
    background-image: url(../img/background-mobile.svg), $gradient-supersoft;
    background-repeat: no-repeat;
    background-position: top center;

}

.stop-scroll {
    overflow: hidden;
    height: 100%;
}

@media  screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        padding: 0 60px;

        &--wide {
            width: inherit;

        }

    }

    .wrapper {
        background-image: url(../img/background-img.svg), $gradient-supersoft;
        background-repeat: no-repeat;
        background-position: top center;
    
    }
    
}

@media  screen and (min-width: 1024px) and (max-width: 1439px) {
    .container {
        padding: 0 60px;

        &--wide {
            width: inherit;

        }

    }

    .wrapper {
        background-image: url(../img/background-img.svg), $gradient-supersoft;
        background-repeat: no-repeat;
        background-position: top center;
    
    }
    
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0 60px;

        &--wide {
            width: inherit;

        }

    }

    .wrapper {
        background-image: url(../img/background-img.svg), $gradient-supersoft;
        background-repeat: no-repeat;
        background-position: top center;
    
    }

}
