.about-us {
    padding-top: 30px;
    
    &__box {

        &-pros {
            margin-top: 30px;
            padding-left: 30px ;
            border-left: $grey-separator-color solid 4px;

            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 40px;

                &:last-of-type {
                    margin-bottom: 0;

                }

                &-heading {
                    font-size: 36px;
                    line-height: 44px;
                    text-align: center;
                    background: $gradient-red-text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;

                }
                    
                &-text {
                    margin-top: 10px;
                    font-size: 16px;
                    line-height: 20px;
                    color: $main-color;

                }

                
            }

        }
    }

}

@media  screen and (min-width: 768px) and (max-width: 1023px) {
    .about-us {
        padding-top: 60px;
        padding-bottom: 60px;

    }

}

@media  screen and (min-width: 1024px) and (max-width: 1439px) {
    .about-us {
        padding-top: 60px;
        padding-bottom: 60px;

        &__box {
            display: grid;
            align-items: start;
            grid-template-columns: 1.25fr 1fr;
            grid-template-rows: auto auto auto;
            grid-column-gap: 30px;


            &-pros {
                margin-top: 0;
                grid-column-start: 2;
                grid-row-start: 1;
                grid-row-end: 3;

            }
        }

    }

}

@media  screen and (min-width: 1440px) {
    .about-us {
        padding-top: 60px;
        padding-bottom: 60px;

        &__box {
            display: grid;
            align-items: start;
            grid-template-columns: 1.3fr 1fr;
            grid-template-rows: auto auto auto;
            grid-column-gap: 30px;


            &-pros {
                margin-top: 0;
                grid-column-start: 2;
                grid-row-start: 1;
                grid-row-end: 3;

            }
        }

    }


}