.heading-gradient {
    background: $gradient-red-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-top: 10px;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .heading-gradient {
        font-size: 38px;
        line-height: 46px;
    
    }

}