.our-team {
    padding-top: 30px;
    padding-bottom: 60px;

    &__background {
        height: 144px;
        background-size: cover;
        background-image: url(../../img/team-mobile.jpg);
        background-color: #666689;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;


        &-text {
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            letter-spacing: 13px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.8;
            text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);

        }

    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .our-team {
    
            &__background {
                background-image: url(../../img/team-mobile@2x.jpg);
    
            }
    
        }
    
    }

}

@media  screen and (min-width: 768px) and (max-width: 1023px) {
    .our-team {

        &__background {
            height: 233px;
            background-image: url(../../img/team-tablet.jpg);
            margin-bottom: 60px;

            &-text {
                font-size: 46px;
                line-height: 56px;
                letter-spacing: 63px;

            }

        }


    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .our-team {
    
            &__background {
                background-image: url(../../img/team-tablet@2x.png);
    
            }
    
        }
    
    }


}
