.page-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #24A3FF;
    transition: color 0.3s;

    & path {
        transition: stroke 0.3s;

    }

    &:hover {
        color: $accent-color;

    }

    &:hover svg path{
        stroke: $accent-color;

    }
}