.scroll-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
        background-color: $active-regular-color;
        border: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        opacity: 0.2;
        margin-right: 15px;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover{
            opacity: 0.6;

        }

        &--activated {
            opacity: 1;

            &:hover {
                opacity: 1;

            }

        }

        &:last-of-type {
            margin-right: 0;

        }
    }

    

}

@media  screen and (min-width: 768px) {
    .scroll-buttons {
        margin-left: 15px;

        &__button {

            &--hidden {
                display: none;

            }

        }

    }

}