.team {
    position: relative;

    &::after {
        content: '';
        display: block;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
        height: 10px;
        position: absolute;
        top: 0;
        bottom: 50%;
        left: 20px;
        right: 20px;


    }

    &::before {
        content: '';
        display: block;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        height: 10px;
        position: absolute;
        left: 40px;
        right: 40px;
        top: 10px;
        bottom: 0;


    }


}